<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<body>
    {{{body}}}
</body>
<script src="/js/index.js"></script>
<style>
 .product { border: 1px solid #ccc;
  padding: 10px; margin-bottom: 10px; }
  hr.solid {
  border-top: 3px solid #bbb;
}
</style>
</html>
